<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.example.bookmanager.mapper.BookMapper">

    <insert id="addBook" parameterType="String" >
        insert into book(bookname,description,userid) values (#{bookName},#{description},#{userId})
    </insert>
    <delete id="deleteBook" parameterType="String" >
        delete from book where bookname=#{bookName} and userid=#{userId}
    </delete>
    <update id="updateBook" parameterType="String" >
        update book set bookname=#{bookName},description=#{description} where id=#{bookId}
    </update>
    <select id="queryBook" parameterType="String" resultType="com.example.bookmanager.model.vo.BookVO">
        select id,bookname,description from book where userid=#{userId}
    </select>
    <select id="queryBookByPage" parameterType="String" resultType="com.example.bookmanager.model.vo.BookVO">
        select id,bookname,description from book where userid=#{userId}
    </select>
</mapper>